:root {
    --primary-font: font-family: "Roboto", sans-serif;
    --secondary-font: font-family: "Montserrat", sans-serif;
}

html {
  min-height: 100%;
}

body {
  color: white;
  font-family: var(--primary-font);
  text-align: center;
  background: black;
} 

.background-image {
  background-image: url(/images/hero4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}



.navbar-color {
  background-color: #202020;
}

 h1, h2, h3, p{
  color: white;
}

h1 {
 text-transform: uppercase;   
 font-style: normal;
 font-weight: bold;
 font-size: 72px;
 line-height: 84px;
 letter-spacing: 0.1em;
}

h2, h3 {
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700;
}

.view-work-button {
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h3 {
margin-top: 300px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
}

p {
font-family: var(--secondary-font);
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
}

footer {
background-color:  #202020;
position:absolute;
bottom:0;
width:100%;
height: 60px;
}

footer .social-links a {
    margin: 0 20px;
    color: white;
    padding: 10px 14px;
    font-size: 18px;
    position: relative;
    bottom: 30px;
  }

.page-title {
    margin-top: 100px;
}